.bodyPage {
  height: 100vh;
  width: 100vw;
  background-color: #d9d9d9bf;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bodyHistorico {
  width: 30%;
  height: 60%;
  background-color: #f0f0f0;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
}

.modal {
  width: 40vw;
}

.modalHistorico {
  height: auto;
  padding-top: 0.5rem;
  display: flex;
  justify-content: center;
  
}
h2 {
  font-size: 1rem; 
  margin: 0;
  padding: 0.5rem;
}

.fecharModal {
  position: absolute;
  top: 18%;
  right: 30%;
  width: 2rem;
  height: 2rem;
  border: 1px solid;  
  border-radius: 0.5rem;
  color: #2b0d7c;
}

.fecharModal:hover {
  cursor: pointer;
  transition: 0.5s;
  background-color: #d9d9d9;
}

.historico {
  display: flex;
  justify-content: center;
  background-color: #607af3;
  text-align: center;
  border-radius: 1rem;
}

.infoAluno {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.modalNome {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 34rem;
  height: 2rem;
  padding-left: 0.5rem;
  border-bottom-style: solid;
  border-bottom-color: #2b0d7c;
}

.info {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
}

.modalInfo {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  text-align: center;
  background-color: #607af3;
  width: 34rem;
  border-radius: 2rem;
  height: 2rem;
  padding: 0.5rem; 
  box-sizing: border-box; 
}

.modalInfo > * {
  margin: 0 0.5rem; 
}

.modalDisciplina {
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  width: 34rem;
  height: 40vh;
  overflow-y: auto;
}

.modalAluno {
  display: flex;
  justify-content: space-between;
  background-color: #d9d9d9;
  border-radius: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
  height: 3rem;
  padding: 0 0.5rem;
}

.modalNomeDisciplina,
.modalmediaNotaDisciplina,
.modalfrequenciaMediaDisciplina {
  width: 6rem;
  font-size: .6rem;
}

.modalAluno:nth-child(even) {
  background-color: #f3efef;
}
.sendMessageButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sendMessageButton:hover {
  background-color: #45a049;
}

.popupMessage {
  position: absolute;
  margin-top: 10px;
  padding: 10px;
  top: 0%;  
  right: 2%;
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
  text-align: center;
}


@media (max-width: 1920px) {
  .fecharModal {
    right: 36%;
  }
}

@media (max-width: 1888px) {
  .bodyHistorico {
    width: 28%;
  }

  .modal {
    width: 60vw;
  }

  .modalNome,
  .modalInfo,
  .modalDisciplina {
    width: 98%;
  }
  .fecharModal {
    right: 38%;
  }

  .modalHistorico {
    font-size: 1rem;
  }
}

@media (max-width: 1400px) {
  .bodyHistorico {
    width: 40%;
  }

  .modal {
    width: 60vw;
  }

  .modalNome,
  .modalInfo,
  .modalDisciplina {
    width: 98%;
  }
  .fecharModal {
    right: 33%;
  }
}

@media (max-width: 992px) {
  .bodyHistorico {
    width: 50%;
  }

  .modal {
    width: 60vw;
  }

  .modalNome,
  .modalInfo,
  .modalDisciplina {
    width: 98%;
  }

  .fecharModal {
    right: 28%;
  }
}

@media (max-width: 768px) {
  .bodyHistorico {
    width: 70%;
  }

  .modal {
    width: 80vw;
  }

  .modalNome,
  .modalInfo,
  .modalDisciplina {
    width: 96%;
  }

  .fecharModal {
    right: 20%;
  }
}

@media (max-width: 576px) {
  .modalNome,
  .modalInfo,
  .modalDisciplina {
    width: 95%;
  }
  .popupMessage{
    width: 90%;
  }

  .fecharModal {
    right: 20%;
    height: 1rem;
    width: 1rem;
    border-radius: 0.1rem;
    font-size: 0.6rem;
  }

  .historico,
  .modalInfo,
  .modalAluno {
    font-size: 0.8rem;
  }
}
